.card {
  width: 400px;
  margin: 10px;

  @media (max-width: 600px) {
    width: 350px;
  }
}

.card__header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-actions__button {
  margin: 0px 5px;
}

mat-card-footer {
  background-color: #f5f5f5;
  align-items: center;
  display: flex;
  justify-content: center;

  p {
    margin-top: 5px;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
